/* 1. Общие настройки страницы */
body {
    background-color: #f8f5f0; 
    background-image: url('https://www.transparenttextures.com/patterns/natural-paper.png');
    background-repeat: repeat;
    color: #2c2c2c;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
}

/* 2. Заголовок сайта (Шапка) */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('https://github.com/irkrssss/echelon-747/blob/main/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202026-01-11%20%D0%B2%2015.43.18.png?raw=true'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 160px 20px;
    color: #fdfaf6;
    text-align: center;
    border-bottom: 5px solid #374520; /* Твой новый оливковый цвет */
}

header h1 {
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

header p {
    font-style: italic;
    opacity: 0.9;
    font-size: 1.2em;
    margin-top: 10px;
}

/* 3. Контейнеры для контента */
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff; /* Белые блоки на бумажном фоне */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

section {
    margin-bottom: 60px;
}

h2 {
    color: #374520;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-size: 1.8em;
}

/* 4. Стили для таблицы */
#passengersTable {
    background: white;
    border: 1px solid #dcdcdc;
    font-size: 0.95em;
    width: 100% !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

/* 5. Настройка карты */
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 */
    background: #eee;
    border: 1px solid #ccc;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
